Binaries
DerivedDataCache
Intermediate
Saved
Build
Browse.VC.db
.vs/Aura/V17/Browser.VC.db
Intermediate/Build/Win64/x64/AuraEditor/DebugGame/UnrealEd/SharedPCH.UnrealEd.Project.NonOptimized.ValApi.Cpp20.InclOrderOldest.h.pch
.vscode
.vs/
*.VC.db
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

